<div class="site-wrapper">
  <%= erb :navigation %>

  <div id="scene" class="day">
    <div class="particle particle-1"></div>
    <div class="particle particle-2"></div>
    <div class="container">
      <div class="center-align">
        <h1 class="title">About</h1>
      </div>
      <img class="mountain-image" src="images/scenes/mountain_range.png" alt="mountain range graphic">
    </div>
  </div>

  <section id="about-content">
    <div class="row">
      <div id="about-photo" class="col l5 push-l1">
        <div class="about-photo-wrapper center-align">
          <img src="images/profile-photo.png" alt="profile picture">
        </div>
        <div class="center-align">
          <a href="images/Akbar_Marc_resume.pdf" class="btn" download><i class="material-icons left">file_download</i>RESUME</a>
        </div>
      </div>
      <div id="about-description" class="col l6 push-l1">
        <div class="container">
          <h5 class="dark-teal">I write code and climb rocks.</h5>
          <p class="location-text">I live in <del>New York</del></p>
          <p class="location-text"><del class="fl-indent">Florida</del></p>
          <p class="location-text"><del class="ny-indent">New York</del></p>
          <p class="co-indent location-text">Colorado.</p>
          <p>
            I have a passion for functional design and data and use this space
            to showcase current / past projects. Outside of tech,
            these designs come in the form of <%= link_to "routesetting", "https://thecliffsclimbing.com/blog/2016/6/24/meet-the-new-setters-marc-and-bo", { target: '_blank' } %>.
          </p>
          <p>
            Check out my <%= link_to "work", "/#what-ive-been-working-on" %> or find me through
            the social links below.
          </p>
          <%= erb :social %>
        </div>
      </div>
    </div>
  </section>

  <div class="center-align bottom">
    <%= erb :footer %>
  </div>
</div>
