<nav class="transparent z-depth-0">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/"><i class="medium material-icons">home</i></a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "ABOUT", '/about' %></li>
        <li><%= link_to "WORK", '/#what-ive-been-working-on' %></li>
      </ul>
    </div>
  </div>
</nav>

<ul id="mobile-nav" class="sidenav">
  <li><%= link_to "HOME", "/" %></li>
  <li><%= link_to "ABOUT", '/about' %></li>
  <li><%= link_to "WORK", '/#what-ive-been-working-on', { class: "sidenav-close" } %></li>
</ul>
