<%= erb :navigation %>

<div class="scene">
  <div class="container">
    <div class="center-horiz">
      <h1 class="title">Work</h1>
    </div>
    <img class="mountain-image" src="images/mountain_range.png">
    <div class="particle particle-1"></div>
    <div class="particle particle-2"></div>
  </div>
</div>

<div class="work-content">
  <section id="earlybird">
    <div class="container">
      <div class="row">
        <div class="col l7">
          <img class= "materialboxed" src="images/eb-image.png">
        </div>
        <div class="col l4 push-l1">
          <div class="eb-text">
            <h4 class="shaded-teal">EarlyBird</h4>
            <h6 class="custom-teal">Rails | ActiveAdmin | Materialize</h6>
            <p>
              A conference management tool for <%= link_to "Viget", '//www.viget.com', { target: "_blank" } %>.
              I collaborated with other developers, designers and UX researchers to
              redesign the user dashboard / conference request flow and upgrade the
              app from Rails 4 to 6.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="trailbuddy">
    <div class="container">
      <div class="row">
        <div class="col l4">
          <div class="tb-text">
            <h4 class="shaded-teal">Trail Buddy</h4>
            <h6 class="custom-teal">GraphQL | Machine Learning</h6>
            <p>
              A proof-of-concept that predicts trail conditions based
              previous weather and soil data. This was built in 48 hours
              during a company hackathon at
              <%= link_to "Viget", '//www.viget.com', { target: "_blank" } %>. We used machine learning
              and 5 external APIs.
            </p>
            <%= link_to "VIEW WEBSITE", "https://heytrailbuddy.com/", { target: '_blank', class: 'btn-large' } %>
            <%= link_to "VIEW ARTICLE", "https://www.viget.com/articles/trailbuddy-using-ai-to-create-a-predictive-trail-conditions-app/", { target: '_blank', class: 'btn-large' } %>
          </div>
        </div>
        <div class="col l7 push-l1">
          <img class="materialboxed" src="images/tb-image.png">
        </div>
      </div>
    </div>
  </section>
  <section id="finance">
    <div class="container">
      <div class="row">
        <div class="col l7">
          <img class="materialboxed" src="images/ft-image.png">
        </div>
        <div class="col l4 push-l1">
          <div class="ft-text">
            <h4 class="dark-teal">Finance Tracker</h4>
            <h6 class="shaded-teal">Rails | Bootstrap</h6>
            <p">
              A Robinhood clone without monetary transactions. My first project
              using an external API and data visualization.
            </p>
            <%= link_to "VIEW ON GITHUB", "https://github.com/marc-akbar/finance-tracker", { target: '_blank', class: 'btn-large' } %>
            <%= link_to "VIEW WEBSITE", "https://marc-finance-tracker.herokuapp.com/users/sign_in", { target: '_blank', class: 'btn-large' } %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="personal">
    <div class="container">
      <div class="row">
        <div class="col l4">
          <div class="personal-text">
            <h4 class="gold">Personal Website</h4>
            <h6 class="shaded-gold">Sinatra | Materialize | Animejs | GIMP</h6>
            <p class="light-gold">
              A test in design. This site was an exploration into a lightweight
              web framework, web animations, and design tools.
            </p>
            <%= link_to "VIEW ON GITHUB", "#", { target: '_blank', class: 'btn-large' } %>

          </div>
        </div>
        <div class="col l7 push-l1">
          <img class="materialboxed" src="images/gimp-mountains.png">
        </div>
      </div>
    </div>
  </section>
  <section id="slack-haxxor">
    <div class="container">
      <div class="row">
        <div class="col l5">
          <div class="slack-text">
            <h4 class="shaded-teal">Slack App</h4>
            <h6 class="custom-teal">Bolt | Slack API</h6>
            <p>
              A simple solution to a nagging problem. This slack app pinged employees
              to remove their conference rooms when someone announced they were
              working from home in Slack.
            </p>
          </div>
        </div>
        <div class="col l5 push-l2">
          <div class="haxxor-text">
            <h4 class="shaded-teal">Haxxor News</h4>
            <h6 class="custom-teal">Rails</h6>
            <p>
              A Hacker News clone built with custom authentication pagination,
              threaded commenting, and voting.
            </p>
            <%= link_to "VIEW WEBSITE", "https://marc-haxxor-news.herokuapp.com/", { target: '_blank', class: 'btn-large' } %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>



<div class="full-width center-horiz bottom">
  <%= erb :footer %>
</div>
