<div class="site-wrapper">
  <%= erb :navigation %>

  <div id="greeting-scene">
    <div id="scene" class="night">
      <div class="particle particle-1"></div>
      <div class="particle particle-2"></div>
      <div class="container">
        <div class="center-align greeting-heading">
          <div class="greeting-title">
            <%= erb :title_animation %>
          </div>
          <div class="greeting-text">
            <p class="flow-text night">
              I'm Marc, a web-based developer.
            </p>
          </div>
        </div>
        <img class="mountain-image" src="images/scenes/mountain_range.png" alt="mountain range graphic">
      </div>
    </div>
  </div>

  <div id="work-content">
    <section id="what-ive-been-working-on" class="center-align">
      <div class="container">
        <h2>What I've been working on.</h2>
        <p>Here's some of my recent work. To see more visit me on <%= link_to "Github", 'https://github.com/marc-akbar', { target: "_blank" } %>.</p>
      </div>
    </section>
    <section id="earlybird">
      <div class="container">
        <div class="row">
          <div id="eb-image" class="col l7">
            <img src="images/eb-image.png" alt="early bird dashboard and request">
          </div>
          <div id="eb-description" class="col l4 push-l1">
            <div class="eb-text">
              <h4>EarlyBird</h4>
              <h6>Rails | ActiveAdmin | Materialize</h6>
              <p>
                A conference management tool for <%= link_to "Viget", '//www.viget.com', { target: "_blank" } %>.
                I collaborated with other developers, designers and UX researchers to
                redesign the user dashboard / conference request flow and upgrade the
                app from Rails 4 to 6.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="trailbuddy">
      <div class="container">
        <div class="row">
          <div id="tb-description" class="col l4">
            <div class="tb-text">
              <h4>Trail Buddy</h4>
              <h6>GraphQL | Machine Learning</h6>
              <p>
                A proof-of-concept app that predicts trail conditions based
                previous weather and soil data. This was built in 48 hours
                during a company hackathon at <%= link_to "Viget", '//www.viget.com', { target: "_blank" } %>.
                We used machine learning and 5 external APIs to create a GraphQL endpoint
                for the front end.
              </p>
              <%= link_to "WEBSITE", "https://heytrailbuddy.com/", { target: '_blank', class: 'btn' } %>
              <%= link_to "ARTICLE", "https://www.viget.com/articles/trailbuddy-using-ai-to-create-a-predictive-trail-conditions-app/", { target: '_blank', class: 'btn' } %>
            </div>
          </div>
          <div id="tb-image" class="col l7 push-l1">
            <img src="images/tb-image.png" alt="trailbuddy homepage and graphql">
          </div>
        </div>
      </div>
    </section>
    <section id="finance">
      <div class="container">
        <div class="row">
          <div id="ft-image" class="col l7">
            <img src="images/ft-image.png" alt="finance tracker screenshot">
          </div>
          <div id="ft-description" class="col l4 push-l1">
            <div class="ft-text">
              <h4>Finance Tracker</h4>
              <h6>Rails | Bootstrap</h6>
              <p>
                A Robinhood clone minus the monetary transactions. My first project
                using an external API and data visualization tools.
              </p>
              <%= link_to "GITHUB", "https://github.com/marc-akbar/finance-tracker", { target: '_blank', class: 'btn' } %>
              <%= link_to "WEBSITE", "https://marc-finance-tracker.herokuapp.com/users/sign_in", { target: '_blank', class: 'btn' } %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="personal">
      <div class="container">
        <div class="row">
          <div id="personal-description" class="col l4">
            <div class="personal-text">
              <h4>Personal Website</h4>
              <h6>Sinatra | Materialize | Animejs | GIMP</h6>
              <p>
                A test in design. This site was an exploration into a lightweight
                web framework, animations, and design tools.
              </p>
              <%= link_to "GITHUB", "https://github.com/marc-akbar/personal-site", { target: '_blank', class: 'btn' } %>
            </div>
          </div>
          <div id="personal-image" class="col l7 push-l1">
            <img src="images/gimp-mountains.png" alt="mountain range gimp mockup">
          </div>
        </div>
      </div>
    </section>
  </div>



  <div class="center-align bottom">
    <%= erb :footer %>
    <%= erb :social %>
  </div>
</div>
